@import "tailwindcss";
@plugin "daisyui";

@theme {
  /* This maps your CSS variables to Tailwind utility names */
  --color-primary-bg: var(--bg-color);
  --color-primary-text: var(--text-color);
  --color-card-bg: var(--card-bg);
  --color-navbar-bg: var(--navbar-bg);
  --color-muted-text: var(--muted-text);
}

:root {
  --bg-color: #f8fafc; /* slate-50 */
  --card-bg: #ffffff; /* white */
  --navbar-bg: #f1f5f9; /* slate-100 */
  --text-color: #0f172a; /* slate-900 */
  --muted-text: #475569; /* slate-600 */
}

.dark {
  --bg-color: #020617; /* slate-950 */
  --card-bg: #010722; /* slate-900 */
  --navbar-bg: #010722; /* slate-950 */
  --text-color: #e5e7eb; /* gray-200 */
  --muted-text: #9ca3af; /* gray-400 */
}



@keyframes fade-in {
  from {
    opacity: 0;
    transform: scale(0.95);
  }
  to {
    opacity: 1;
    transform: scale(1);
  }
}

.animate-fade-in {
  animation: fade-in 0.2s ease-out;
}

@keyframes spinSlow {
  to {
    transform: rotate(360deg);
  }
}

@keyframes scaleFade {
  from {
    opacity: 0;
    transform: scale(0.95);
  }
  to {
    opacity: 1;
    transform: scale(1);
  }
}

.loader-ring {
  width: 48px;
  height: 48px;
  border-radius: 50%;
  border: 4px solid rgba(59, 130, 246, 0.2); /* blue-500/20 */
  border-top-color: rgb(59, 130, 246); /* blue-500 */
  animation: spinSlow 0.8s linear infinite;
}


body {
  background-color: var(--bg-color);
  color: var(--text-color);
}
